#product_image_gallery{
    position: fixed;
    top: -25px;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    outline: 0;
    .carousel-control-prev, .carousel-control-next {
        height: 10%;
        top: 40%;
        opacity: 0.5;
        width:1%;
        cursor: pointer;
        &:focus {
            opacity: 0.65;
        }
        &:hover {
            opacity: 0.8;
        }
        .fa {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: xxx-large;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
    .carousel-control-prev {
        left:23%;
    }
    .carousel-control-next {
        right:20%;
    }
}
#o-carousel-product-modal {

    &.css_not_available {
        opacity: 0.2;
    }

    .carousel-outer {
        height: 400px;
        max-height: 90vh;
    }
    .carousel-indicators {
        li {
            width: 64px;
            height: 64px;
            text-indent: unset;
            border: 1px solid gray('600');
            opacity: 0.5;
            position: relative;
            .o_product_video_thumb {
                @include o-position-absolute($top: 50%, $left: 50%);
                transform: translate(-50%, -50%);
                color: gray('400');
            }
            &.active {
                opacity: 1;
                border: 1px solid theme-color('primary');
            }
        }
    }
}
.d-md-block {
    .d-inline-block {
        display: inline-table !important;
    }
}
.o_image_64_contain{
    display: block;
    border: 1px solid;
}